{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Sécurisé</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h2>Connexion</h2>
            
            <form action="{% url 'users:login' %}" method="POST" id="loginForm" onsubmit="return validateForm(event)">
                {% csrf_token %}
                <div class="input-group">
                    <input type="email" name="email" id="email" required>
                    <label for="email">Email</label>
                    <div class="line"></div>
                </div>
                <div class="input-group">
                    <input type="text" name="nom" id="nom" required>
                    <label for="nom">Nom</label>
                    <div class="line"></div>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="password" required>
                    <label for="password">Mot de passe</label>
                    <div class="line"></div>
                </div>
                <div class="password-strength" id="passwordStrength"></div>
                <button type="submit" class="login-btn" id="passwordStrength" >
                    Se connecter
                    <div class="ripple"></div>
                </button>
            </form>
        </div>
    </div>
    <script>
        // Fonction pour vérifier si les champs sont remplis
        function validateForm() {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const loginButton = document.getElementById('passwordStrength');
            
            // Si les deux champs sont non vides, activer le bouton
            if (email && password) {
                loginButton.disabled = false;
            } else {
                loginButton.disabled = true;
            }
        }

        // Ajouter des écouteurs d'événements pour détecter les changements dans les champs de saisie
        document.getElementById('email').addEventListener('input', validateForm);
        document.getElementById('password').addEventListener('input', validateForm);

        // Initialiser l'état du bouton au chargement de la page
        validateForm();
    </script>
</body>
</html>
