

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 30px;
    background: no-repeat center center / cover   url("img/bt.jpeg");

    }
    
    .links a {
        color: #fffbfb;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease;
    }
    
    .links a:hover {
        color: #4CAF50;
    }
    
    .signup-link {
        font-weight: 600;
    }
    
    .forgot-link {
        font-style: italic;
    }
    

.container {
    padding: 5px;
    display: flex;
    width: 400px;
    height: 600px;
    box-shadow: 0px 4px 8px #e09202;
    border-radius: 30px;
}

.login-box {
    background: rgba(255, 255, 255, 0.379);
    padding-top: 20px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

h2 {
    padding-top: 50px;
    color: #1f2937;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.875rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #e5e7eb;
    background: transparent;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border-bottom-color: var(--primary-color);
}

label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 1rem;
    color: #e7e7e7;
    pointer-events: none;
    transition: 0.3s;
}

input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 0.875rem;
    color: white;
}

.login-btn{
    width: 200px;
    padding-left: 2px;
    margin-left: 60px;
    border: #f4f4f4;
    border-radius: 9px;
    background-color: rgba(158, 124, 61, 0.9);
    color: #f4f4f4;
}

.password-strength {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: #6b7280;
}
.se_connecter {
    text-decoration: none;
    color: #f4f4f4;
}
.se_connecter {
    color: #f4f4f4;
}
button{
    width: 200px;
    height: 50px;
    padding-left: 2px;
    margin-left: 60px;
    border: #f4f4f4;
    border-radius: 9px;
    background-color: #0a0ee9de;
    color: #f4f4f4;
}
