:root {
    --primary-color:rgba(158, 124, 61, 0.9);
    --secondary-color: #3498DB;
    --accent-color: #E74C3C;
    --text-color: #333;
    --light-bg: #ECF0F1;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: #1547e8;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.btn {
    background-color: var(--accent-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 2rem;
}

.featured-collections {
    padding: 4rem 2rem;
    background-color: var(--light-bg);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.grid a {
    text-decoration: none;
    padding: 10px;
    color: rgb(48, 48, 48);
}
.grid img {
    padding: 10px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px #c58102b9;
    
}

.card img {
    width: 90%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    padding: 1rem;
    margin: 0;
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media img {
    width: 30px;
    margin-left: 1rem;
}
